* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Start top-container section */
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

/* Start header section */
.header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
/* End header section */

/* Start hero section */
.hero {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 96px 16px 112px;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-info p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.hero-info button {
  margin-top: 12px;
  padding: 8px 32px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

.hero-image {
  background-color: #6e7883;
  color: #e5e7eb;
  width: 900px;
  height: 220px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End hero section */
/* End top-container section */

/* Start information section */
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 0 96px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-box-container {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.info-box {
  width: 160px;
  height: auto;
  text-align: center;
}

.info-box div {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.info-box p {
  margin: 4px 0;
  font-size: 18px;
  color: #555555;
}
/* End information section */

/* Start quote section */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 124px 0 96px;
}

.quote blockquote {
  width: 50%;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote cite {
  width: 45%;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  text-align: right;
}
/* End quote section */

/* Start cta section */
.cta {
  padding: 98px 0;
}

.cta-box {
  background-color: #3882f6;
  width: 62%;
  padding: 52px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.cta-box div p {
  margin: 0;
}

.cta-box div p:first-of-type {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 4px;
}

.cta-box div p:last-of-type {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-box button {
  font-size: 18px;
  font-weight: 900;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 32px;
  border: 2px solid #f9faf8;
  border-radius: 8px;
}
/* End cta section */