* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}