* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Start top-container section */
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

/* Start header section */
.header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
/* End header section */

/* Start hero section */
.hero {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 96px 16px 112px;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-info p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.hero-info button {
  margin-top: 12px;
  padding: 8px 32px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

.hero-image {
  background-color: #6e7883;
  color: #e5e7eb;
  width: 900px;
  height: 220px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End hero section */
/* End top-container section */