* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Start top-container section */
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

/* Start header section */
.header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
/* End header section */
/* End top-container section */